$color-primary: #7c2cdd;
$color-primary-dark: #6f21cd;
$color-primary-darker: #691fc2;
$color-primary-darkest: #561aa0;
$color-primary-light: #8a43e1;
$color-primary-lighter: #914ee3;
$color-primary-lightest: #a770e8;
$highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
$code-font-size: 95%;

$dark-color-primary: #d2df72;
$dark-color-primary-dark: #c9d957;
$dark-color-primary-darker: #c5d649;
$dark-color-primary-darkest: #afc02c;
$dark-color-primary-light: #dbe58d;
$dark-color-primary-lighter: #dfe89b;
$dark-color-primary-lightest: #ecf2c4;
$dark-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

$font-color: #1c1e21;
$dark-font-color: #e3e3e3;

// Breakpoints
$breakpoint-mobile: 375px;
